body {
  direction: rtl;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: #f1f1f1;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  height: 100vh;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.logo {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-start;
  color: tomato;
  border-bottom: 2px solid tomato;
  position: sticky;
  top: 0;
  background-color: #fff;
}
button,
textarea {
  font-family: inherit;
  border: 2px solid #333;
  outline: none;
  font-size: 1.2rem;
  box-shadow: -3px 3px 0 #333;
}
.select {
  border: 2px solid #333;
  box-shadow: -3px 3px 0 #333;
  padding: 0 15px;
  background-color: #fff;
}
textarea {
  height: 150px;
  padding: 10px;
  resize: vertical;
}
button {
  cursor: pointer;
}
select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 0;
  font-family: inherit;
  font-size: 1.2rem;
}
.inputs,
.specs {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.inputs > div {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 15px;
  gap: 10px;
}
.add__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px 0;
}
.specs {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.specs h2 {
  color: #333;
}
.spec {
  background-color: #fff;
  border: 2px solid tomato;
  box-shadow: -3px 3px 0 tomato;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border-radius: 5px;
}
.spec h4 {
  font-size: 1.2rem;
}
.spec > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.spec button {
  font-size: 1rem;
  background-color: tomato;
  color: white;
  border: 2px solid white;
  box-shadow: -3px 3px 0 tomato;
}
.label {
  font-size: 1.2rem;
}
.loading {
  font-size: 1.2rem;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.msg {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: green;
  width: 100%;
  padding: 20px 0;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}
